numpy==1.26.4
pandas
matplotlib
scipy
statsmodels
scikit-learn
gradio
openai
beautifulsoup4
lxml
tqdm
seaborn
networkx
requests
pyyaml
jupyter
notebook
ipykernel
pytest
transformers
sentencepiece
python-dotenv
FlowKit
rdkit
scanpy
pytz
markdown
docstring_parser
flowkit
anndata
igraph
leidenalg
louvain
openpyxl
hdbscan
gseapy
gget
pymed
scholarly
chainlit==2.6
faiss-cpu
biopython
biopandas
pypdf2
googlesearch-python
asyncpg
boto3
botocore